@import '~antd/dist/antd.css';

:root {
  --blue: #40a9ff;
  --grey: #ddd
}

.layout {
  background-color: white;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
}

.header {
  background-color: white;
  box-shadow: 0 4px 8px #f0f1f2;
}

.nav-menu {
  background-color: transparent;
}
